.bet-container + .bet-container {
  margin-top: 1rem;
}

.numbers-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.bet-number {
  margin-bottom: 1rem;
}

.number {
  width: 3rem;
  height: 3rem;
  padding: 1rem;
  margin: 0 0.5rem 0 0.5rem;
  border-radius: 50%;
  background-color: lightgray;
}