.bet-container + .bet-container {
  margin-top: 1rem;
}

.numbers-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  max-width: 100vw;
}

.bet-number {
  margin-bottom: 1rem;
}

.number {
  width: 3rem;
  height: 3rem;
  padding: 1rem;
  border-radius: 50%;
  background-color: lightgray;
}